
<title>About - Unified Electronic Identification System</title>

<span id="identity" hidden>4</span>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h5>About UEIS</h5>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Citizen</button>
    </div>
  </div>
</div>

<div id="about_us" style="display: block;">
  <div class="container">
    <div class="row">
      <!-- First Column with About Us Header and Explanation -->
      <div class="col-md-6">
        <h6 class="py-3">About the System</h6>
        <p class="text-muted">
          Eletronic Identification System UEIS (UEIS) is a system that enables individuals to use a
          single electronic identity to authenticate themselves across various digital services.
          Benefits of using UEIS includes increased security, convenience, and cost-effectiveness.
          <span class="read-more-content">
            The system also poses significant challenges, including privacy concerns, data protection,
            and cybersecurity risks which might not be directly linked to our delivery model.
            Overall, the UEIS has significant implications on individuals, governments, and society as a whole.
          </span>
        </p>

        <button class="read-more-button">
          <span class="icon">Read More</span>
        </button>
      </div>
      <!-- Second Column with Image -->
      <div class="col-md-6">
        <img src="/static/images/ueis.avif" alt="About Us Image" class="img-fluid">
      </div>
    </div>
  </div>


  <p class="lead mt-5">The following vision, mission and core values are the driving forces of UEIS. See them below:</p>
  <div class="container mb-5">
    <div class="row">
      <!-- First Column with Vision -->
      <div class="col-md-4 text-center my-3">
        <img class="shadow-1-strong mb-3" src="/static/images/light-bulb-electricity-svgrepo-com.svg" alt="avatar"
          width="50" height="50" />

        <h4 class="mb-3">Vision</h4>

        <p class="">Secure Digital Landscape</p>
        <p class="">Privacy and Data Security</p>
        <p class="">Ease of Access to Services</p>
        <p class="">Seamless Interactions</p>
      </div>

      <!-- Second Column with Mission -->
      <div class="col-md-4 text-center my-3">
        <img class="shadow-1-strong mb-3" src="/static/images/target-svgrepo-com.svg" alt="avatar" width="50"
          height="50" />

        <h4 class="mb-3">Mission</h4>

        <p class="">Convenience and Efficiency</p>
        <p class="">Enhanced Security</p>
        <p class="">Reduced Redundancy</p>
        <p class="">Fraud Prevention</p>
      </div>
      <!-- Third Column with Goals -->
      <div class="col-md-4 text-center my-3">
        <img class="shadow-1-strong mb-3" src="/static/images/correct-success-tick-svgrepo-com.svg" alt="avatar"
          width="50" height="50" />

        <h4 class="mb-3">Core Values</h4>

        <p class="card-text">Transparency</p>
        <p class="card-text">Inclusivity</p>
        <p class="card-text">Ethical Use of Data</p>
        <p class="card-text">Security and Privacy</p>
      </div>
    </div>
  </div>

