
<title>E-banking Services - Unified Electronic Identification System</title>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h6>Choose a bank for e-banking services</h6>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Citizen</button>
    </div>
  </div>
</div>

<div class="container" id="banks">
  <div class="box-container">
    <div class="box bg-light">
      <img src="/static/images/e-pay/NB.png" class="img-fluid mb-3" alt="NB Icon">
      <h3>National Bank</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/SB.png" class="img-fluid mb-3" alt="NB Icon">
      <h3>Standard Bank</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/NBS.png" class="img-fluid mb-3" alt="NB Icon">
      <h3>NBS</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/FDH.png" class="img-fluid mb-3" alt="NB Icon">
      <h3>FDH</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/FCB1.png" class="img-fluid mb-3" alt="FCB Icon">
      <h3>First Capital Bank</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/EB1.png" class="img-fluid mb-3" alt="EcoBank Icon">
      <h3>EcoBank</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/CB.png" class="img-fluid mb-3" alt="CB Icon">
      <h3>Centenary Bank</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/e-pay/CDH_Investment_Bank.jpg" class="img-fluid mb-3" alt="CDH Icon">
      <h3>CDH investement Bank</h3>
      <a href="#" class="btn">Open</a>
    </div>
  </div>
</div>
