<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script defer src="/static/javascript/serialport.js"></script>
    <script defer src="/static/javascript/crypto.js"></script>
    <script defer src="/static/javascript/card_writer.js"></script>
</head>
<body>
    <div class="container">
        <div class="row_break"></div>
        <div class="row row_center">
            <div class="col"></div>
            <h1>Register Card</h1>
        </div>
        <div class="row row_center">
            <div class="col">
                <h6>Register card to access the services provided by UEIS</h6>
                <div class="row_center">
                    <h6 id="prompt">Place your card on the RFID sensor</h6>
                </div>
            </div>
        </div>
        <form class="row" >
            <div class="col">
                <div class="row">
                    <div class="col row_center">
                        <img src="/static/images/scanner.png" alt="scanner icon" srcset="">
                    </div>
                </div>
                <div class="row row_center">
                    <div class="input-group register-input">
                        <div class="input-group-text"><img id="email-img" src="/static/images/card.png" alt="nid pic" srcset=""></div>
                        <input class="form-control" type="text" name="NID" id="NID-input" placeholder="National Id number">
                    </div>
                </div>
                <div class="row row_center">
                    <button id="register-btn" class="btn btn-primary btn-lg">Register</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
