<title>E-Payment Services - Unified Electronic Identification System</title>

<!-- Content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h6>Choose a service for e-payment services</h6>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Citizen</button>
    </div>
  </div>
</div>

<div class="container" id="banks">
  <div class="box-container">
    <div class="box bg-light">
      <img src="/static/images/Airtel.jpg" alt="" class="img-fluid mb-3">
      <h3>Airtel</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/mpamba.png" alt="" class="img-fluid mb-3">
      <h3>TNM Mpamba</h3>
      <a href="#" class="btn">Open</a>
    </div>

    <div class="box bg-light">
      <img src="/static/images/MK.png" alt="" class="img-fluid mb-3">
      <h3>Mukuru</h3>
      <a href="#" class="btn">Open</a>
    </div>
  </div>
</div>
