
  <title>Help - Unified Electronic Identification System</title>

  <span id="identity" hidden>3</span>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5>Help - FAQ</h5>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Citizen</button>
      </div>
    </div>
  </div>

  <div id="help" style="display: block;">
    <div class="my-4">
      <h6>Some frequently asked questions about UEIS;</h6>

      <div class="accordion mb-4" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="question1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#answer1"
              aria-expanded="true" aria-controls="answer1">
              1. What is UEIS, and how does it work?
            </button>
          </h2>
          <div id="answer1" class="accordion-collapse collapse" aria-labelledby="question1"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              This system is designed to simplify the access to multiple services using a single set of
              credentials. Users register, receive ID cards, and provide fingerprints during registration. To
              access the system, users scan their ID cards and fingerprint, after which they can access various
              services seamlessly.
            </div>
          </div>
        </div>

        <div class="accordion-item my-3">
          <h2 class="accordion-header" id="question2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer2"
              aria-expanded="false" aria-controls="answer2">
              2. What services can I access through this system?
            </button>
          </h2>
          <div id="answer2" class="accordion-collapse collapse" aria-labelledby="question2"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              With this system, you can access a range of services, including e-health, e-payment, e-voting,
              digital signatures, and e-banking, all using a single set of credentials.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="question3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer3"
              aria-expanded="false" aria-controls="answer3">
              3. How do I register for this system?
            </button>
          </h2>
          <div id="answer3" class="accordion-collapse collapse" aria-labelledby="question3"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              To register, visit our registration center or website, where you will be guided through the
              registration process. You'll need to provide personal information, receive your ID card, and
              complete fingerprint registration.
            </div>
          </div>
        </div>

        <div class="accordion-item my-3">
          <h2 class="accordion-header" id="question4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer4"
              aria-expanded="false" aria-controls="answer4">
              4. Do I need to remember multiple usernames and passwords for the different services?
            </button>
          </h2>
          <div id="answer4" class="accordion-collapse collapse" aria-labelledby="question4"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              No, you only need to remember your unique set of credentials, which includes your ID card and
              fingerprint. You won't have to manage separate usernames and passwords for each service.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="question5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer5"
              aria-expanded="false" aria-controls="answer5">
              5. How secure is my data within this system?
            </button>
          </h2>
          <div id="answer5" class="accordion-collapse collapse" aria-labelledby="question5"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Security is a top priority. Your personal data and access information are protected with advanced
              security measures, including encryption and multi-factor authentication. We are committed to
              safeguarding your information.
            </div>
          </div>
        </div>

        <div class="accordion-item my-3">
          <h2 class="accordion-header" id="question6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer6"
              aria-expanded="false" aria-controls="answer6">
              6. What should I do if I encounter issues or have questions about using the system?
            </button>
          </h2>
          <div id="answer6" class="accordion-collapse collapse" aria-labelledby="question6"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              If you have any issues or questions, you can reach out to our support team. We have a dedicated help
              and contact section on our platform where you can find assistance.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="question7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer7"
              aria-expanded="false" aria-controls="answer7">
              7. How can I update my user profile or make changes to my account information?
            </button>
          </h2>
          <div id="answer7" class="accordion-collapse collapse" aria-labelledby="question7"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              You can update your user profile and account information by logging into the system, accessing your
              profile, and following the provided instructions for making changes or updates.
            </div>
          </div>
        </div>

        <div class="accordion-item my-3">
          <h2 class="accordion-header" id="question8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer8"
              aria-expanded="false" aria-controls="answer8">
              8. Where can I find more information about the system, its features, and policies?
            </button>
          </h2>
          <div id="answer8" class="accordion-collapse collapse" aria-labelledby="question8"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              You can find detailed information about the system, its features, and policies in the "About"
              section on our platform. We encourage you to explore this section to learn more.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="question9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answer9"
              aria-expanded="false" aria-controls="answer9">
              9. How do I log out of the system when I'm finished using it?
            </button>
          </h2>
          <div id="answer9" class="accordion-collapse collapse" aria-labelledby="question9"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              To log out, simply click on the "Logout" option in the navigation menu. This will securely end your
              session and log you out of the system.
            </div>
          </div>
        </div>
      </div>


      <p class="lead">Still have questions? Please send them to us by filling in this form:</p>

      <div class="other-help">
        <div class="row">
          <div class="col-md-6">
            <div class="help-container">
              <p class="text-muted text-center">
                <span class="text-danger">*</span>All fields are required<span class="text-danger">*</span>
              </p>
              <form>
                <label class="form-label" for="faq-email">Email:</label>
                <input class="form-input" type="email" id="faq-email" name="faq-email" placeholder="example@email.com"
                  required>

                <label class="form-label" for="message">Message:</label>
                <textarea class="form-textarea" id="faq-message" name="faq-message" placeholder="Your question."
                  required></textarea>

                <button class="form-submit" type="submit">Submit</button>
              </form>
            </div>
          </div>

          <div class="col-md-6">
            <figure>
              <img src="/static/images/supporting-person.svg" alt="" class="img-fluid" width="400">
              <div class="text-center">The Supporting Team</div>
            </figure>
          </div>

        </div>
      </div>
    </div>

  </div>
