<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEIS</title>
    <link rel="stylesheet" href="/static/css/styleW.css" />
</head>
<body>


<div class="wrapper">


    <div class="content">
        <div class="text">
            <h2>Welcome to the Unified Electronic Identifcation System</h2>
            <a href="/Auth/card" class="btn">Get Started</a>
        </div>
        <div class="img">
            <div class="social-icons">
                <img src="/static/images/ballot1.png" alt="">
                <img src="/static/images/epay1.png" alt="">
                <img src="/static/images/ehealth1.png" alt="">
                <img src="/static/images/digital-signature1.png" alt="">
                <img src="/static/images/ebank1.png" alt="">
            </div>
            <img class="email-icon" src="/static/images/3.png" alt="">
        </div>
    </div>

<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</div>


</body>
</html>
